* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   // border: 1px solid red;
}
:root {
   --primary: hsl(257, 40%, 49%);
   --button-bg: hsl(300, 69%, 71%);
}

body {
   height: 100vh;
   width: 100vw;
   background-color: #2471a3;
   font-weight: 400;
   font-family: "Open Sans", sans-serif;
   background: url(../images/bg-desktop.svg) var(--primary);
   background-repeat: no-repeat;
}

header {
   border: 2px solid black;
   height: 110px;
   width: 400px;
   margin: 0 0 50px 0;
   padding: 0 0 0 55px;
   display: flex;
   flex-direction: row;
   align-items: center;
}
.main_container {
   border: 2px solid black;
   border-style: dashed;
   height: 550px;
   width: 1430px;
   display: flex;
   flex-direction: row;

   .main-img {
      border: 2px solid blue;
      height: 545px;
      width: 840px;
      margin: 0;
      padding: 25px 0 0 55px;
   }

   .info {
      border: 3px solid orange;
      height: 545px;
      width: 600px;
      margin: 0 0 0 40px;
      padding: 40px 0 0 0px;
      color: white;
      display: flex;
      flex-direction: column;
   }

   .title {
      border: 2px solid blue;
      height: 120px;
      width: 410px;
      margin: 10px 0 0 10px;
      padding: 15px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
   }

   .discription {
      border: 2px solid violet;
      height: 90px;
      width: 500px;
      margin: 10px 0 10px 10px;
      padding: 0 15px;
      line-height: 1.5;
      font-weight: 400;
   }

   button {
      height: 55px;
      width: 220px;
      margin: 10px 0 0 20px;
      padding: 10px;
      font-size: 16px;
      font-weight: 400;
      color: var(--primary);
      border-radius: 30px;
      border-style: none;
      box-shadow: 1px 6px 20px -3px #0000;

      &:hover {
         background-color: var(--button-bg);
         cursor: pointer;
      }
   }
}

footer {
   border: 2px solid yellow;
   height: 100px;
   width: 1430px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;

   // ul li {
   //    // display: inline;
   //    height: 50px;
   //    width: 250px;
   //    border: 2px solid red;
   //    margin-right: 100px;
   //    list-style: none;
   //    font-size: 30px;
   //    display: flex;
   //    flex-direction: row;
   //    justify-content: space-evenly;
   //    align-items: center;
   //    color: #ffff;

   // }
   .icons {
      border: 2px solid yellow;
      height: 70px;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
   }
   ul li {
      list-style: none;
   }

   ul li a {
      color: #ffff;
      margin-right: 0px;
      list-style: none;
      font-size: 20px;
   }

   .social {
      border: 2px solid #ffff;
      border-radius: 25px;
      padding: 5px;
      margin: 5px;
   }

   .social:hover {
      cursor: pointer;
   }

   .attribution {
      border: 2px solid red;
      color: #ffff;
      height: 70px ;
      width: 550px;
      font-size: 16px;
      text-align: center;
      padding: 5px;
      margin-left:100px ;
      display: flex;
      justify-content: center;
      align-items: center;

   }
   .attribution a {
      color: hsl(247, 100%, 50%);
   }
}
