* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   /* height: 100vh;
    width: 100vw; */
   background-image: url(images/pattern-background-desktop.svg);
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: hsl(225, 100%, 94%);
   font-family: "Red Hat Display", sans-serif;
}

.card__container {
   height: 700px;
   width: 500px;
   margin-top: 50px;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
}

.card {
   /* border: 2px solid black;
    border-style: dashed; */
   height: 565px;
   width: 360px;
   border-radius: 10px;
   box-shadow: 2px 18px 45px -1px rgba(179, 191, 191, 0.75);
}

.card__image {
   /* border: 2px solid red; */
   height: 165px;
   width: autopx;
   background-image: url(images/illustration-hero.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.card-data__container {
   /* border: 2px solid black; */
   /* border-style: dashed; */
   height: 400px;
   width: auto;
   text-align: center;
   background-color: #fdfefe;
   margin: 0px;
   padding: 28px 0 0 0;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   /* box-shadow: 0px 19px 45px -1px rgba(179,191,191,0.47); */
   /* box-shadow: 0px 19px 18px -2px rgba(181, 186, 174, 0.46); */
   box-shadow: -1px 14px 59px 5px rgba(194, 214, 194, 0.75);
}

.card__content {
   /* border: 2px solid black;
    border-style: dashed; */
   margin: 10px;
   padding: 5px;
}

#card__title {
   margin-top: 0px;
   font-weight: 900;
   font-weight: bold;
   font-family: "Red Hat Display", sans-serif;
}

#card__discription {
   color: #5f6a6a;
   font-size: 16px;
   /* font-weight: bold; */
   line-height: 23px;
}

#card__plan {
   /* border: 2px solid red;
    border-style: dashed; */
   display: flex;
   justify-content: center;
   text-align: center;
}

#annual__plan__container {
   height: 72px;
   width: 300px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 10px;
   background-color: #f2f3f4;
}

#card__plan__image img {
   width: 35px;
   height: 35px;
}

#card__price {
   margin-right: 60px;
}

#annual_plan {
   /* border: 1px solid black; */
   height: auto;
   width: 100px;
   color: #000000;
   /* font-weight: bold; */
   font-weight: 900;
   font-size: 16px;
   font-family: "Red Hat Display", sans-serif;
}

#price {
   color: #5f6a6a;
}

#change {
   font-size: 16px;
   font-weight: bold;
   color: hsl(245, 75%, 52%);
   margin-right: 10px;
}

#change :hover {
   text-decoration: none;
   color: hsl(224, 23%, 55%);
   cursor: pointer;
}

#card__button button {
   height: 35px;
   width: 300px;
   margin: 0px;
   padding: 5px;
   border-radius: 9px;
   border: none;
   cursor: pointer;
   /* background-color: #0a03ec; */
   background-color: hsl(245, 75%, 52%);
   color: #fff;
   box-shadow: 0px 19px 18px -2px rgba(181, 186, 174, 0.46);
   font-weight: bold;
}

#card__button button:hover {
   background-color: hsl(224, 23%, 55%);
   cursor: pointer;
}

#cancel {
   color: #5f6a6a;
   font-size: 16px;
   font-weight: bold;
}

#cancel :hover {
   color: #000000;
   cursor: pointer;
}

footer {
   margin-top: 40px;
}
.attribution {
   font-size: 16px;
   text-align: center;
   margin: 10px;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}
