* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: 1px solid red; */
}
:root {
   --heading-color: hsl(300, 43%, 22%);
   --discription-color : hsl(303, 10%, 53%);
   --card-para-color : hsl(0, 0%, 100%);
   --background-color : hsl(300, 24%, 96%);
   --cards-color: hsl(300, 43%, 22%);
   --name-color : hsl(333, 80%, 67%);
}

body {
   background-color: var(--background-color);
   font-size: 15px;
   font-family: "Spartan", sans-serif;
   background: url(images/bg-pattern-bottom-desktop.svg);
}

main {
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.container {
   /* border: 2px solid black;
   border-style: dashed; */
   height: 560px;
   width: 1230px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.content {
   /* border: 1px solid blue; */
   height: 250px;
   width: 1230px;
   margin: 0;
   /* padding: 10px; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.heading {
   /* border: 2px solid red; */
   height: 250px;
   width: 600px;
   display: flex;
   margin: 0;
   padding: 20px 20px 20px 40px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

h1 {
   /* border: 1px solid blue; */
   height: 140px;
   width: 275px;
   margin: 0 0 0 0px;
   padding: 10px;
   font-family: "Spartan", sans-serif;
   font-size: 30px;
   font-weight: 700;
   color: var(--heading-color);
}

#discription {
   /* border: 1px solid rgb(255, 0, 0);/ */
   height: 100px;
   width: 500px;
   margin: 0;
   padding: 10px;
   color: hsl(303, 10%, 53%);
   font-weight: 500;
}

.ratings {
   /* border: 1px solid black; */
   height: 250px;
   width: 650px;
   padding: 0px 75px 0 0;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
}

.stars {
   margin: 0 10px 0 0;
}

#reviews {
   /* border: 1px solid black; */
   height: 50px;
   width: 400px;
   margin: 0 80px 20px 0px;
   padding: 10px;
   text-align: center;
   border-radius: 5px;
   font-size: 15px;
   font-weight: bold;
   background-color: hsl(300, 24%, 96%);
   color:var(--heading-color);
}
#report_guru {
   /* border: 1px solid black; */
   height: 50px;
   width: 400px;
   margin: 0 40px 20px 0px;
   padding: 10px;
   text-align: center;
   border-radius: 5px;
   font-size: 15px;
   font-weight: bold;
   background-color: hsl(300, 24%, 96%);
   color: hsl(300, 43%, 22%);
}
#bestTech {
   /* border: 1px solid black; */
   height: 50px;
   width: 400px;
   margin: 0 20px 20 0px;
   padding: 10px;
   text-align: center;
   border-radius: 5px;
   font-size: 15px;
   font-weight: bold;
   background-color: hsl(300, 24%, 96%);
   color: hsl(300, 43%, 22%);
}

.card_container {
   /* border: 1px solid green; */
   height: 300px;
   width: 1230px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

.all-cards {
   height: 220px;
   width: 385px;
   margin: 0;
   padding: 20px;
   border-radius: 10px;
   background-color: hsl(300, 43%, 22%);
}

.all-cards img {
   height: 50px;
   width: 50px;
   border-radius: 45px;
}

.card_name {
   display: inline;
   height: 20px;
   width: 120px;
   position: absolute;
   margin: 5px 0 0px 20px;
   font-size: 15px;
   font-weight: bold;
   color: hsl(0, 0%, 100%);
}

.all-cards span {
   display: inline;
   height: 20px;
   width: 120px;
   position: absolute;
   margin: 25px 20px 20px;
   font-weight: 500;
   color: hsl(333, 80%, 67%);
}

.all-cards .card_discription {
   height: 90px;
   width: 340px;
   position: relative;
   margin: 20px 0 0 0;
   padding: 0px;
   font-size: 15px;
   font-weight: 500;
   color: hsl(0, 0%, 100%);
}

#card-1 {
   margin-top: 0;
}
#card-2 {
   margin-top: 40px;
}
#card-3 {
   margin-top: 80px;
}

.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
   main {
      height: 100vh;
      width: 130vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .container {
      height: auto;
      width: 480px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 410px;
   }

   .content {
      height: auto;
      width: 580px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
   }

   .heading {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .ratings {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left:0px;
      width: 650px;
   }

   #reviews {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 20px 0;
   }

   #report_guru {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 20px 0;
   }

   #bestTech {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 20px 0;
   }

   .card_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: -100px;
      padding: 0px;
      height: auto;
      width: 420px;        
      margin-top:20px;
   }
   #card-1 {
      margin-top: 0;
   }
   #card-2 {
      margin-top: 20px;
   }
   #card-3 {
      margin-top: 20px;
   }
   
   footer {
      position: relative;
      margin-top: 480px;
      margin-left: 154px;
   }
}
