/* Global Styles */
:root {
   --main-bg: hsl(0, 0%, 100%);
   --star-col-and-font: hsl(303, 10%, 53%);
   --card-and-main-font-bg: hsl(300, 43%, 22%);
   --span-font-clr: hsl(333, 80%, 67%);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

htmL {
   font-size: 62.5%;
   /* font-size: 100%; */
}

body {
   font-family: "Spartan", sans-serif;
   padding: 2rem;
   font-size: 1.6rem;
}

.center-text {
   text-align: center;
}
.primary-content {
   border: 2px solid red;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.heading {
   min-height: 10rem;
   width: 28.2rem;
   margin: 0 auto;
   border: 2px solid blue;
   padding: 0.5rem;
   margin: 1rem;
}

.discription {
   width: 30rem;
   border: 2px solid green;
   padding: 1rem;
   margin: 1rem;
}

span {
   display: block;
}

.fiv-star {
   border: 2px solid grey;
   padding: 1rem 8rem;
   margin: 1rem;
   border-radius: 0.8rem;
   font-size: 1.4rem;
   font-weight: bold;
}

.stars {
   margin-bottom: 0.6rem;
}

.card-container {
   border: 1px solid blue;
   position: relative;
   /* width: 40rem; */
   padding: 0 20rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.all-cards {
   border: 1px solid red;
   margin: 1rem;
   padding: 1rem;
   width: 30rem;
   top: -6rem;
   left: 9rem;
   font-size: 1.4rem;
   border-radius: 10px;
}

.name {
   position: relative;
   top: -4rem;
   left: 6rem;
}

.img {
   height: 4.5rem;
   width: 4.5rem;
   border-radius: 65px;
}

.crd-data {
   margin-top: -2rem;
   padding: 0;
}

footer {
   font-size: 1.4rem;
   margin: 1rem;
}

@media screen and (min-width: 700px) and (max-width: 1440px) {
   html {
      /* font-size: 70%; */
   }

   .primary-content {
      border: 2px solid yellow;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }

   .card-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;
   }

   .all-cards {
      width: 21rem;
      padding: 2rem;
   }
   .card-2 {
      margin-top: 3rem;
   }

   .card-3 {
      margin-top: 6rem;
   }
}

