/* Global Styles */
:root {
   --main-bg: hsl(0, 0%, 100%);
   --star-bg: hsl(300, 24%, 96%);
   --primary-clr: hsl(300, 43%, 22%);
   --secondary-clr: hsl(303, 10%, 53%);
   --span-font-clr: hsl(333, 80%, 67%);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

htmL {
   font-size: 62.5%;
}

body {
   padding: 2rem;
   font-size: 1.6rem;
   font-family: "Spartan", sans-serif;
   background: var(--main-bg);
}

/*==========================
first-container contain 
heading,paragraph and ratings.
==============================*/

.text-center {
   text-align: center;
}

.first-container {
   /* border: 2px solid red; */
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.heading {
   /* border: 2px solid blue; */
   height: auto;
   width: 25.2rem;
   margin: 0 1rem;
   padding: 2rem 1rem;
   font-size: 2.2rem;
   color: var(--primary-clr);
}

.paragraph {
   /* border: 2px solid green; */
   height: auto;
   width: 24.2rem;
   margin: 0 1rem;
   padding: 1rem 0.5rem;
   font-size: 1.2rem;
   font-weight: bold;
   line-height: 1.7;
   color: var(--secondary-clr);
}

.rating-bars {
  /* border: 2px solid grey; */
   margin: 1rem;
   padding: 1rem 3rem;
   border-radius: 0.5rem;
   font-size: 1rem;
   font-weight: bold;
   background-color: var(--star-bg);
}

.five-stars {
   display: block;
   margin-bottom: 0.6rem;
}

.ratings-text {
   color: var(--primary-clr);
}

/*==========================
Second-container contain 
the three cards.
==============================*/

.second-container {
   /* border: 1px solid blue; */
   position: relative;
   padding: 0 15rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cards {
   /* border: 1px solid red; */
   margin: 1rem;
   padding: 2rem;
   width: 26rem;
   font-size: 1rem;
   border-radius: 10px;
   line-height: 1.5;
   background: var(--primary-clr);
   color: #fff;
}

.img {
   height: 3.5rem;
   width: 3.5rem;
   border-radius: 65px;
}

.name {
   position: relative;
   top: -3.5rem;
   left: 5rem;
}

.about {
   position: relative;
   top: -3.5rem;
   left: 5rem;
}

.card-data {
   margin-top: -2rem;
   padding: 0;
}

footer {
   font-size: 1.2rem;
   margin: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1354px) {
   html {
      font-size: 79%;
   }

   .five-stars {
      display: inline;
      margin-right: 0.5rem;
   }
}
@media screen and (min-width: 1354px) and (max-width: 1440px) {
   html {
      font-size: 95%;
   }

   body {
      margin: 0;
      padding: 0;
   }

   main {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .first-container {
      width: 100%;
      padding: 0rem 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .heading {
      padding: 2rem;
   }

   .paragraph {
      padding: 1rem 0rem 0rem 2rem;
      height: 10rem;
      width: 40rem;
   }

   .heading,
   .paragraph {
      text-align: left;
   }

   .ratings-container {
      height: 16rem;
      width: 45rem;
   }

   .rating-bars {
      height: 4rem;
      width: 35rem;
   }

   .bar-two {
      margin-left: 4rem;
   }
   .bar-three {
      margin-left: 8rem;
   }

   .five-stars {
      display: inline;
      margin-right: 0.5rem;
   }

   .second-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 0;
   }

   .cards {
      padding: 2rem;
   }
   .card-two {
      margin-top: 3rem;
   }
   .card-three {
      margin-top: 6rem;
   }
}
