:root {
    --main-bg: hsl(204, 43%, 93%);
    --btn-bg: hsl(71, 73%, 54%);
    --crd-frst-bg:hsl(187, 1%, 97%);
   --crd-sec-bg: hsl(179, 62%, 43%,1);
   --crd-thrd-bg: hsl(179, 62%, 43%,.7);
}