* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   /* height: 100vh;
    width: 100vw; */
   background-image: url(images/pattern-background-desktop.svg);
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: hsl(225, 100%, 94%);
   font-family: "Red Hat Display", sans-serif;
}

.card__container {
   /* background-size: cover; */
   /* background-position: center ; */
   /* background-image:url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat; */
   /* border: 2px solid black;
    border-style: dashed; */
   height: 700px;
   width: 500px;
   margin-top: 200px;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
}

.card {
   /* border: 2px solid black;
    border-style: dashed; */
   height: 565px;
   width: 365px;
   border-radius: 10px;
}

.card__image {
   /* border: 2px solid red; */
   height: 165px;
   width: autopx;
   background-image: url(images/illustration-hero.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.card-data__container {
   /* border: 2px solid black; */
   /* border-style: dashed; */
   height: 394px;
   width: auto;
   text-align: center;
   background-color: #fdfefe;
   margin: 0px;
   padding: 28px 0 0 0;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.card__content {
   /* border: 2px solid black;
    border-style: dashed; */
   margin: 10px;
   padding: 5px;
}

#card__title {
   margin-top: 0px;
   font-weight: 800;
   font-family: "Allerta", sans-serif;
}

#card__discription {
   color: #5f6a6a;
   font-size: 16px;
   font-weight: bold;
}

#card__plan {
   /* border: 2px solid red;
    border-style: dashed; */
   display: flex;
   justify-content: center;
   text-align: center;
}

#annual__plan__container {
   width: 320px;
   height: 72px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 10px;
   background-color: #f2f3f4;
}

#card__plan__image {
   width: 30px;
   height: 30px;
   background-image: url(images/icon-music.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#card__price {
   margin-right: 60px;
}

#annual_plan {
   color: #000000;
   font-weight: bold;
   font-size: 16px;
   font-family: "Allerta", sans-serif;
}

#price {
   color: #5f6a6a;
}

#change {
   font-size: 16px;
   font-weight: bold;
}

#change :hover {
   text-decoration: none;
   color: #2498ff;
   cursor: pointer;
}

button {
   height: 35px;
   width: 320px;
   margin: 0px;
   padding: 5px;
   border-radius: 9px;
   border: none;
   cursor: pointer;
   background-color: #0a03ec;
   color: #fff;
   box-shadow: 0 0 10px;
}

button :hover {
   background-color: #2194f8;
}

#cancel {
   color: #5f6a6a;
   font-size: 16px;
   font-weight: bold;
}

#cancel :hover {
   color: #000000;
   cursor: pointer;
}
.attribution {
   font-size: 16px;
   text-align: center;
   margin: 10px;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}
