
// @media  and (min-width:426px) and (max-width:786px) {
    
// }

@media  (min-width:786px) and (max-width:1024px) {
    html{
        font: size 70%;
    }
        main {
            .price-card {
                .wrapper {
                    display: flex;  

                    .second-div {
                        width: 50%;
                    }
                    .third-div {
                        width: 50%;
                    }
                }
            }
        }
    
}

@media   (min-width:1024px) and (max-width:1440px) {

    html{
        font: size 90%;
        main {
            
            .price-card {
                .wrapper {
                    display: flex;  
                    
                    .second-div {
                        width: 50%;
                    }
                    .third-div {
                        width: 50%;
                    }
                }
            }
        }
        
    }
}