   @import "base";

   * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   }
   html {
   font-size: 62.5%;
   font-family: "Karla", sans-serif;
   }

   main {
      border: 2px solid red;
      height: 100%;
      width: 100%;
      padding: 2rem;
      background-color: $Light-Gray;
      display: flex;
      justify-content: center;
      align-items: center;

   .cards {
      padding: 1rem;
      text-align: left;
   }

   .first-div {
      font-size: 1.2rem;
      background-color: $white;
      // width: 90%;

      .heading {
         margin: 1rem;
         font-weight: 700;
         color: $Grayish-Blue;
      }
      .head-text {
         margin: 2rem 1rem;
         font-size: 1.2rem;
         font-weight: bold;
         padding-right: 4rem;
         color: $Bright-Yellow;
         opacity: 1;
      }

      .paragraph {
         //  border: 2px solid red;
         display: block;
         margin: 2rem 1rem;
         padding-right: 1rem;
         padding-top: 1rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
         font-size: 1.2rem;
         font-weight: bold;
         line-height: 1.8;                                                                                                                                                                                                                                                                                                                                              
         color: $Grayish-Blue;
         opacity: 0.8;
      }
   }

   .second-div {
      // color:#fff;
      background-color: $Grayish-Blue;
      color: $white;
      // width: 45%;

      .heading {
         display: block;
         margin: 0.6rem 0 2rem 1rem;
         font-size: 1.6rem;
         font-weight: 700;
      }

      .dollar {
         margin-left: 1rem;
         font-size: 2rem;
         font-weight: bold;
      }

      .month {
         display: block;
         position: relative;
         margin-left: 4.5rem;
         margin-top: -2rem;
         font-size: 1.3rem;
         font-weight: 400;
      }

      .plan {
         display: block;
         margin: 1.2rem 0 0 1rem;
         font-size: 1.2rem;
      }

      .btn {
         margin: 3rem 0 2rem 1rem;
         padding: 1rem 7rem;
         font-size: 1.3rem;
         font-weight: bold;
         font-family: "Karla", sans-serif;
         border-style: none;
         border-radius: 0.3rem;
         background-color: $Bright-Yellow;
      }
      .btn:hover {
         background-color: hsl(72, 90%, 52%);
         cursor: pointer;
      }
   }

   .third-div {
      color: $white;
      background-color: $Cyan;
      opacity: 0.7;
      // width: 45%;

      .heading {
         display: block;
         margin: 0.6rem 0 2rem 1rem;
         font-size: 1.6rem;
         font-weight: 700;
      }                                                                                                                                                                    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
      ul li {                    
         display: block;
         margin-left: 1rem;
         line-height: 1.8rem;
         font-size: 1.2rem;
      }
   }
   }

   @import "media-queries";
