* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --sedan: hsl(31, 77%, 52%);
   --suv: hsl(184, 100%, 22%);
   --luxary: hsl(179, 100%, 13%);
   --background: hsl(0, 0%, 95%);
   --paragarph: hsl(0, 0%, 95%);
   --headings: hsl(0, 0%, 95%);
   --buttons: hsl(0, 0%, 95%);
}

html {
   font-size: 62.5%;
}

body {
   margin: 0;
   padding: 0;
   font-size: 1.5rem;
   color: hsl(0, 0%, 95%);
   background-color: var(--background);
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#card-container {
   /* border: 2px solid blue;
   border-style: dashed; */
   display: flex;
   flex-direction: column;
   padding: 1rem;
   border-radius: 1rem;
}

img {
   height: 3rem;
}

.title {
   /* border: 2px solid red; */
   margin-top: -4rem;
   font-size: 1.6rem;
   font-family: "Big Shoulders Display";
   text-transform: uppercase;
   color: var(--headings);
}

.discription {
   /* border: 2px solid red; */
   margin: -4.5rem 0 -3.5rem 0;
   display: flex;
   align-items: center;
   font-weight: 400;
   font-size: 1.2rem;
   font-family: "Lexend Deca", sans-serif;
   line-height: 1.8;
   color: var(--paragraph);
}

.all-card {
   /* border: 2px solid green;
   border-style: dotted; */
   height: 40.1rem;
   width: 26rem;
   margin: 0;
   padding: 0rem 3.5rem 0.5rem 3.5rem;
   display: flex;
   flex-flow: column wrap;
   justify-content: space-around;
   font-family: "Montserrat", sans-serif;
}
.card__one {
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;
   background-color: var(--sedan);
   color: var(--paragarph);
}

.card__two {
   background-color: var(--suv);
   color: var(--paragraph);
}

.card__three {
   border-bottom-right-radius: 1rem;
   border-bottom-left-radius: 1rem;
   background-color: var(--luxary);
   color: var(--paragraph);
}

button {
   height: 4rem;
   width: 13rem;
   font-size: 1.2rem;
   font-weight: bold;
   font-family: "Lexend Deca", sans-serif;
   border-radius: 2.5rem;
   border-style: none;
   background-color: var(--buttons);
}

#button-one {
   color: var(--sedan);
}
#button-two {
   color: var(--suv);
}
#button-three {
   color: var(--luxary);
}

button:hover {
   background: transparent;
   border: 2px solid #ffff;
   cursor: pointer;
}

@media (min-width: 895px) and (max-width: 1440px) {
   html {
      font-size: 70%;
   }
   main {
      height: 100vh;
      width: 100vw;
   }
   #card-container {
      /* border: 2px solid blue;
      border-style: dashed; */
      display: flex;
      flex-direction: row;
      padding: 1rem;
      border-radius: 1rem;
   }
   .card__one {
      border-top-left-radius: 1rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: 1rem;
   }
   .card__three {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 0;
   }
}
